.catContainer {
    display: flex;

}

.catButton {
    margin-left: 5rem;
}

#cat-cardBody {
    display: flex;
}

.catTitle {
    display: flex;
    justify-content: center;
}

.catCard {
    display: flex;
    border: 2px solid black;
}

.catPageHeader {
    display: flex;
    justify-content: center;
}